<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch4/4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**4.3 Making Numerical Lists숫자형 리스트 만들리**

###**4.3.1 Using the range() Function* range()함수 사용하기**

 Python’s range() function makes it easy to generate a series of numbers.

 Python의 range()함수는 연속된 숫자를 쉽게 생성할 수 있습니다.

In [ ]:
for value in range(1,5):
  print(value)

1
2
3
4

**Parameter(formal parameter)** is variable in the declaration of function.

def myFunction(a, b, c):

a, b, c就是parameter

**Argument(actual parameter)** is the actual value of this variable that gets passed to function.

result = myFunction("yes, "no", "maybe")

"yes", "no", "maybe" 就是argument

###**4.3.2 Using range() to Make a List of Numbers*range()로 숫자 리스트 만들기**

If you want to make a list of numbers, you can convert the results of range()
directly into a list using the list() function.

숫자 리스트를 원한다면 list()함수를 써서 range()의 결과를 바로 리스트로 만들 수 있습니다.

When you wrap list() around a call to the range() function,

the output will be a list of numbers

range()함수를 호출하면서 list()함수로 감싸면 결과는 숫자 리스트가 됩니다.

In [ ]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

We can also use the range() function to tell Python to skip numbers in a
given range. 

range()함수를 써서 주어진 범위의 숫자를 건너뛸 수도 있습니다. 

If you pass a third argument to range(), Python uses that value
as a step size when generating numbers.

range()에 세번째 매개변수를 넘기면 python은 이 3번째 매개변수 만큼을 더해 숫자를 생성합니다.

In [ ]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
odd_numbers = list(range(1,12,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11]

You can create almost any set of numbers you want to using the range()
function.

range() 함수를 이용하면 원하는 거의 모든 숫자 세트를 만들 수 있습니다. 

1부터10까지의 제곱수 리스트를 만듭니다.

In [21]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)

print(squares)

for square in squares:
  print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1
4
9
16
25
36
49
64
81
100

###**4.3.3 Simple Statistics with a List of Numbers 숫자 리스트를 이용한 단순한 통계**

Python functions are helpful when working with lists of numbers

Python 함수 중에는 숫자 리스트를 다룰 때 특히 유용한 함수가 있습니다. 

You can easily find the minimum, maximum, and sum of a list of
numbers.

함수를 이용해 리스트의 최댓값(max), 최솟값(min), 함계(sum)를 구할 수 있다.

In [ ]:
numbers = list(range(0,10))
print(numbers)

print(min(numbers))
print(max(numbers))
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
45

###**4.3.4 List Comprehensions리스트 내포**

A list comprehension allows you to generate this same list in just one line of code.

In [ ]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Try It Yourself

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive.

 20까지 세기:for루프를 써서1부터 20까지 출력하세요.

In [2]:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20


4-4. One Million: Make a list of the numbers from one to one million, and then
use a for loop to print the numbers.

(If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)

In [ ]:
for value in range(1, 1000000):
  print(value)


4-5. Summing a Million: Make a list of the numbers from one to one million,

and then use min() and max() to make sure your list actually starts at one and
ends at one million. 

Also, use the sum() function to see how quickly Python can add a million numbers.

In [10]:
numbers = list(range(1,1000001))


print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000


4-6. Odd Numbers: Use the third argument of the range() function to make a
list of 

the odd numbers from 1 to 20. Use a for loop to print each number.

In [13]:
odd_numbers = list(range(1,20,2))
odd_numbers
for odd_number in odd_numbers:
  print(odd_number)

1
3
5
7
9
11
13
15
17
19


4-7. Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [16]:
threes = list(range(3,31,3))
print(threes)
for value in threes:
  print(value)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
3
6
9
12
15
18
21
24
27
30


4-8. Cubes: A number raised to the third power is called a cube.

For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes
 
(that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [20]:
cubes = []
for value in range(1,11):
  cube = value**3
  cubes.append(cube)

print(cubes)

for cube in cubes:
  print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
1
8
27
64
125
216
343
512
729
1000

4-9. Cube Comprehension: Use a list comprehension to generate a list of the
first 10 cubes.

In [22]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]