<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch4/4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**4.3 Making Numerical Lists**

###**4.3.1 Using the range() Function**

 Pythonâ€™s range() function makes it easy to generate a series of numbers.

In [6]:
for value in range(1,5):
  print(value)

1
2
3
4

In [31]:
for value in range(5):
  print(value,end=' ')

0 1 2 3 4

###**4.3.2 Using range() to Make a List of Numbers**

If you want to make a list of numbers, you can convert the results of range()
directly into a list using the list() function.

In [35]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

We can also use the range() function to tell Python to skip numbers in a
given range. 

If you pass a third argument to range(), Python uses that value
as a step size when generating numbers.

In [36]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [39]:
odd_numbers = list(range(1,12,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11]

You can create almost any set of numbers you want to using the range()
function.

In [45]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###**4.3.3 Simple Statistics with a List of Numbers**

Python functions are helpful when working with lists of numbers

You can easily find the minimum, maximum, and sum of a list of
numbers.

In [51]:
numbers = list(range(0,10))
print(numbers)

print(min(numbers))
print(max(numbers))
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
45

###**4.3.4 List Comprehensions**

A list comprehension allows you to generate this same list in just one line of code.

In [53]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Try It Yourself

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to 20,
inclusive.


4-4. One Million: Make a list of the numbers from one to one million, and then
use a for loop to print the numbers.

(If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)


4-5. Summing a Million: Make a list of the numbers from one to one million,

and then use min() and max() to make sure your list actually starts at one and
ends at one million. 

Also, use the sum() function to see how quickly Python can add a million numbers.


4-6. Odd Numbers: Use the third argument of the range() function to make a
list of 

the odd numbers from 1 to 20. Use a for loop to print each number.


4-7. Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.


4-8. Cubes: A number raised to the third power is called a cube.

For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes
 
(that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

4-9. Cube Comprehension: Use a list comprehension to generate a list of the
first 10 cubes.