<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch4/4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**4.5 tuple**

If you want to create a list of items that cannot change. Tuples allow you to do just that. 

만약에 항목을 바뀔 수 없는 리스트가 필요 할 때 튜풀을 바고 그 목적으로 만족합니다. 

Python refers to values that cannot change as immutable(불변의, 변경할 수 없는 ), and an immutable list is called a tuple

**4.5.1 Defining a Tuple. 튜플 정의하다**

A tuple looks just like a list except you use parentheses instead of square
brackets.() 

Once you define a tuple, you can access individual elements by
using each item’s index, just as you would for a list.

예 : If we have a rectangle that should always be a certain size,

we can ensure that its size doesn’t change by putting the dimensions into a
tuple

In [9]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [11]:
dimensions = (200, 50)
dimensions[0] = 250

TypeError: ignored

Tuples are technically defined by the presence of a comma;

the parentheses make them look neater and more readable.

If you want to define a tuple with one element, you need to include a trailing comma

In [12]:
a = ('book',)
type(a)

tuple

In [13]:
a = ('book')
type(a)

str

In [14]:
dimensions = [200, 50]
dimensions[0] = 250
print(dimensions)

[250, 50]

**4.5.2 Looping Through All Values in a Tuple 튜플의 모든 값에 루프 실행하기**

In [15]:
dimensions = (200, 50)
for dimension in dimensions:
  print(dimension)

200
50

**4.5.3 Writing over a Tuple 튜플 덮었기**

Although you can’t modify a tuple, you can assign a new value to a variable
that represents a tuple.
튜플을 수정할 수는 없지만, 튜플을 가기키던 변수에 새 값을 할당하는 건 가능합니다.
So if we wanted to change our dimensions, we could redefine the entire tuple.
튜플을 새로 정의하면 사각형의 크기를 바꿀 수 있습니다.

In [16]:
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)
print()
print(dimensions)

Original dimensions:
200
50

Modified dimensions:
400
100

(400, 100)

##**연습문제**

**4-13. Buffet:**

A buffet-style restaurant offers only five basic foods. Think of five
simple foods, and store them in a tuple.

* Use a for loop to print each food the restaurant offers.
* Try to modify one of the items, and make sure that Python rejects the
change.
* The restaurant changes its menu, replacing two of the items with different
foods.

 Add a line that rewrites the tuple, and then use a for loop to print
each of the items on the revised menu.

In [19]:
menus = ('피자','만두','죽', '두유','김밥')
print('우리 식당 매뉴:')
for menu in menus:
  print(menu)

우리 식당 매뉴:
피자
만두
죽
두유
김밥

In [ ]:
menus = ('피자','만두','죽', '두유','김밥')
menus[0] = '꽃게'
menus.append('홍게')
print('우리 식당 매뉴:')
for menu in menus:
  print(menu)

In [23]:
menus = ('피자','만두','죽', '두유','김밥')
print('우리 식당 매뉴:')
for menu in menus:
  print(menu)

menus = ('피자','만두','꽃게','홍게','김밥')
print('\n우리 식당 새 매뉴:')
for menu in menus:
  print(menu)

우리 식당 매뉴:
피자
만두
죽
두유
김밥

우리 식당 새 매뉴:
피자
만두
꽃게
홍게
김밥