<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch2/2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**2.4 Numbers(숫자)**

###Numbers are used quite often in programming to keep score in games,

###represent data in visualizations, store information in web applications,
###and so on.

###숫자는 게임에서 점수를 기록하고, 시각화 데이터를 나타내고, 

###웹 애플리케이션의 정보를 저장하는 등 프로그래밍에서 자주 사용됩니다.

##**2.4.1 정수(Integers)**

###python에서 +, -, *, / 연산을 할 수 있다.

In [ ]:
3+2

5

In [ ]:
3-2

In [ ]:
2*3

In [ ]:
3/2

**Python에서 **으로 제곱을 연산 한다.**

In [ ]:
3**2

In [ ]:
3**3

In [ ]:
10**6

Python supports the order of operations too, so you can use multiple operations in one expression.

Python은 연산 순서도 지원하므로 하나의 표현식에서 여러 연산을 진행할 수 있습니다. 

You can also use parentheses to modify the order of operations

so Python can evaluate your expression in the order you specify

또한 괄호를 사용하여 연산순서를 수정할 수 있으므로
Python이 지정한 순서대로 계산 할 수 있습니다.

In [ ]:
2 + 3*4

In [ ]:
(2+3)*4

The spacing in these examples has no effect on how Python evaluates the expressions

예제에서 곡백은 Python이 표현식을 연산하데 영향을 미치지 않습니다.

##**2.4.2 Floats(실수)**

##**Python calls any number with a decimal point a float**
##**Python에서은 소수점이 있는 모든 숫자를 float로 부른다.**

In [ ]:
0.1 + 0.1

0.2

In [ ]:
0.2 + 0.2

0.4

In [ ]:
2*0.1

0.2

In [ ]:
2*0.2

0.4

In [ ]:
a = 0.2*2

0.4

**But be aware that you can sometimes get an arbitrary number of decimal places in your answer**

**그러나 답변에서 임의의 소수점 이하 자릿수를 나올 수 있습니다.**

In [ ]:
0.2+0.1

0.30000000000000004

In [ ]:
3*0.1

0.30000000000000004

##**2.4.3 Integers and Floats(정수와 실수)**
1.   When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float

 두 숫자를 나눌 때 정제(整除)해더라도 결과는 실수다. 

2.   If you mix an integer and a float in any other operation, you’ll get a
float as well

 다른 연산에서 실수와 연산 하면 결과는 항상 실수다. 

 **type()이용해서 확인**

In [ ]:
1 + 2.0

In [ ]:
2*3.0

In [ ]:
3.0**2

##**2.4.4 Underscores in Numbers(숫자에 있는 밑줄)**

1.   When you’re writing long numbers, you can group digits using underscores to make large numbers more readable

  긴 숫자를 쓸 때 밑줄을 사용하여 큰 숫자를 더 읽기 쉽게 만든단. 

  Python은 밑줄은 프린트 않한다.

In [ ]:
universe_age = 14_000_000_000
print(universe_age)
type(universe_age)

14000000000

int

##**2.4.5 Multiple Assignment(동시에 여러개 변수에 값을 할당)**

1.   You can assign values to more than one variable using just a single line.

 한 줄만 사용하여 둘 이상의 변수에 값을 할당할 수 있다. 

2.  You need to separate the variable names with commas, and do the
same with the values, and Python will assign each value to its respectively
positioned variable. As long as the number of values matches the number of
variables, Python will match them up correctly

 변수(Varialbe) 이름을 쉼표로 구분하고 값(Value)도 같아야한다. 
 
 그러면 Python은 각 값을 각각 배치된 변수에 값을 할당합니다.

 값의 수가 변수의 수와 일치하는 Python은 값을 변수에 부여한다.

In [ ]:
x,y,z = 1,2,3
print(x+y)
print(y-z)
print(x*y*z)

3
-1
6

##**2.4.6 Constants(상수)** 

1.  A constant is like a variable whose value stays the same throughout the life of a program

 상수는 프로그램 실행동안 값이 동일하게 유지하는 변수다. 

2.  Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed

 Python 사용자는 변수를 무도 대문자로 사용해서 상수를 의미한다.

In [ ]:
MAX_CONNECTIONS = 5000

##**연습문제** 

**2-8. Number Eight:**

Write addition, subtraction, multiplication, and division
operations that each result in the number 8.

Be sure to enclose your operations in print() calls to see the results.

You should create four lines that look like this:

---
print(5+3)

---
Your output should simply be four lines with the number 8 appearing once
on each line.

**2-9. Favorite Number:** 

Use a variable to represent your favorite number. 
Then, using that variable, create a message that reveals your favorite number. Print that message.

##**2.5 Comments(주석)**
## '#'hash mark를 사용한다.

In [ ]:
# Say hello to everyone.
print("Hello Python people!")

## **The Zen of Python(Python의 선)**

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Beautiful is better than ugly.

고움은 추함보다 낫다.

Explicit is better than implicit.

명시는 암시보다 낫다.

Simple is better than complex.

단순은 복잡보다 낫다.

Complex is better than complicated.

복잡은 꼬임보다 낫다.

단일은 이중보다 낫다.

나뉨은 밀집보다 낫다.

Readability counts.

가독성은 중요하다.

특수 사례도 규칙을 깰 정도로 특수하진 않다.

실용이 순수보다 중요하긴 하지만.

오류를 조용히 넘겨서는 안된다.

명시적으로 조용히 하지 않으면.

모호한 상황에선, 추측을 거부해라.

There should be one-- and preferably only one --obvious way to do it.

언제나 하나의 - 단 하나라면 더 좋고 - 당연한 방법이 있다.

진주를 좋아한다면 당연해 보이진 않겠지만.

Now is better than never.

지금 하는게 안하는 것보다 낫다.

안하는게 지금 '당장' 하는 것보단 나을 수도 있지만.

구현을 설명하기 어려우면 나쁜 것이다.

구현을 설명하기 쉬우면 좋을 수도 있다.

이름 공간은 엄청 좋은 생각이다. 이거 많이 하자.