<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch2/2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**2.4 Numbers(숫자)**

###Numbers are used quite often in programming to keep score in games,

###represent data in visualizations, store information in web applications,
###and so on.

###숫자는 게임에서 점수를 기록하고, 시각화 데이터를 나타내고, 

###웹 애플리케이션의 정보를 저장하는 등 프로그래밍에서 자주 사용됩니다.

##**2.4.1 정수(Integers)**

###python에서 +, -, *, / 연산을 할 수 있다.

In [1]:
3+2

5

In [ ]:
3-2

In [ ]:
2*3

In [ ]:
3/2

**Python에서 **으로 제곱을 연산 한다.**

In [ ]:
3**2

In [ ]:
3**3

In [ ]:
10**6

Python supports the order of operations too, so you can use multiple operations in one expression.

Python은 연산 순서도 지원하므로 하나의 표현식에서 여러 연산을 진행할 수 있습니다. 

You can also use parentheses to modify the order of operations

so Python can evaluate your expression in the order you specify

또한 괄호를 사용하여 연산순서를 수정할 수 있으므로
Python이 지정한 순서대로 계산 할 수 있습니다.

In [ ]:
2 + 3*4

In [ ]:
(2+3)*4

In [ ]:
모든 연산에서