<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch5/5_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**5.if Statements**

**5.1. A Simple Example**

In [2]:
cars = ['audi','bmw','subaru','toyota']

for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

**5.2 Conditional Tests**

At the heart of every if statement is an expression that can be evaluated as
True or False and is called a conditional test.

**5.1.1 Checking for Equality**

In [12]:
car = 'bmw'
car == 'bmw'

True

In [13]:
car = 'bmw'
car == 'audi'

False

**5.2.2 Ignoring Case When Checking for Equality**

Testing for equality is case sensitive in Python.

In [14]:
car = 'audi'
car == 'Audi'

False

In [15]:
car = 'Audi'
car.lower() == 'audi'

True

**5.2.3 Checking for Inequality**

When you want to determine whether two values are not equal,

you can combine an exclamation point and an equal sign (!=).

In [18]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

Hold the anchovies!

**5.2.4 Numerical Comparisons**

In [19]:
age = 18
age == 18

True

In [20]:
age = 18 

if age != 42:
  print('That is not the correct answer. Please try again!')

That is not the correct answer. Please try again!

**You can include various mathematical comparisons in your conditional
statements as well**

In [24]:
age = 19
age < 21

True

In [25]:
age <=21

True

In [26]:
age > 21

False

In [27]:
age >=21

False

**5.2.5 Checking Multiple Conditions**

You may want to check multiple conditions at the same time.

sometimes you might need two conditions to be True to take an action. 

Other times you might be satisfied with just one condition being True.

The keywords and and or can help you in these situations.

**1. Using and to Check Multiple Conditions**

In [28]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [30]:
age_1 = 24
age_0 >= 21 and age_1 >21

True

In [31]:
age_1 = 24
(age_0 >= 21) and (age_1 >21)

True

**Using or to Check Multiple Conditions**

The keyword or allows you to check multiple conditions as well, but it
passes when either or both of the individual tests pass.

An or expression fails only when both individual tests fail.

In [32]:
age_0 = 22
age_1 = 18

age_0 >= 21 or age_1 >=21

True

In [33]:
age_0 = 18
age_0 >= 21 or age_1 >= 21

False

**5.2.6 Checking Whether a Value Is in a List**

In [36]:
requested_toppings = ['mushrooms','onions','pineapple']
a = 'mushrooms' in requested_toppings
print(a)
b = 'pepperoni' in requested_toppings

True

False

**5.2.7 Checking Whether a Value Is Not in a List**

In [37]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
  print(f"{user.title()}, you can post a response if you wish.")

Marie, you can post a response if you wish.

**5.2.8 Boolean Expressions**