<a href="https://colab.research.google.com/github/koreabao/python_basic/blob/main/ch5/5_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**5.if Statements**

**5.1. A Simple Example**

In [ ]:
cars = ['audi','bmw','subaru','toyota']

for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota


**Boolean Expressions**


bool() 에서 False의 경우
1. 0 , 0.0
2. (), [],{},set(),range(0) 
3. None , False

In [ ]:
bool('false')

True

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
bool(7)

True

In [ ]:
if 520 > 250:
  print('520는 250보다 크다.')
else:
  print('520는 250보다 크지않다.')

520는 250보다 크다.

In [ ]:
1 == True

True

In [ ]:
0 == False

True

In [ ]:
True + False

1

In [ ]:
True*3

3

**5.2 Conditional Tests**

At the heart of every if statement is an expression that can be evaluated as
True or False and is called a conditional test.

**5.2.1 Checking for Equality**

In [ ]:
car = 'bmw'
car == 'bmw'

True

In [ ]:
car = 'bmw'
car == 'audi'

False

**5.2.2 Ignoring Case When Checking for Equality**

Testing for equality is case sensitive in Python.

In [ ]:
car = 'audi'
car == 'Audi'

False

In [ ]:
car = 'Audi'
car.lower() == 'audi'

True

**5.2.3 Checking for Inequality**

When you want to determine whether two values are not equal,

you can combine an exclamation point and an equal sign (!=).

In [ ]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

Hold the anchovies!

**5.2.4 Numerical Comparisons**

In [ ]:
age = 18
age == 18

True

In [ ]:
age = 18 

if age != 42:
  print('That is not the correct answer. Please try again!')

That is not the correct answer. Please try again!

**You can include various mathematical comparisons in your conditional
statements as well**

In [ ]:
age = 19
age < 21

True

In [ ]:
age <=21

True

In [ ]:
age > 21

False

In [ ]:
age >=21

False

**5.2.5 Checking Multiple Conditions**

You may want to check multiple conditions at the same time.

sometimes you might need two conditions to be True to take an action. 

Other times you might be satisfied with just one condition being True.

The keywords and and or can help you in these situations.

**1. Using and to Check Multiple Conditions**

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [ ]:
age_1 = 24
age_0 >= 21 and age_1 >21

True

In [ ]:
age_1 = 24
(age_0 >= 21) and (age_1 >21)

True

**Using or to Check Multiple Conditions**

The keyword or allows you to check multiple conditions as well, but it
passes when either or both of the individual tests pass.

An or expression fails only when both individual tests fail.

In [ ]:
age_0 = 22
age_1 = 18

age_0 >= 21 or age_1 >=21

True

In [ ]:
age_0 = 18
age_0 >= 21 or age_1 >= 21

False

**5.2.6 Checking Whether a Value Is in a List**

In [ ]:
requested_toppings = ['mushrooms','onions','pineapple']
a = 'mushrooms' in requested_toppings
print(a)
b = 'pepperoni' in requested_toppings

True

False

**5.2.7 Checking Whether a Value Is Not in a List**

In [ ]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
  print(f"{user.title()}, you can post a response if you wish.")

Marie, you can post a response if you wish.

**연습문제**

##**Try It Yourself**
**5-1. Conditional Tests:**

Write a series of conditional tests.

Print a statement describing each test and your prediction for the results of each test. 

Your code should look something like this:

---
car = 'subaru'

print("Is car == 'subaru'? I predict True.")

print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")

print(car == 'audi')

---


* Look closely at your results, and make sure you understand why each line
evaluates to True or False.

* Create at least ten tests. Have at least five tests evaluate to True and
another five tests evaluate to False.

In [1]:
car = 'subaru'

print("Is car == 'subaru'? I predict True.")

print(car == 'subaru')

print("\nIs car == 'audi'? I predict False.")

print(car == 'audi')

Is car == 'subaru'? I predict True.
True

Is car == 'audi'? I predict False.
False

In [2]:
food = 'kimchi'
food == 'kimchi'

True

In [3]:
food = 'kimchi'
food == 'cheese'

False


**5-2. More Conditional Tests:**

You don’t have to limit the number of tests you create to ten.

If you want to try more comparisons, write more tests 

Have at least one True and one False result for each of the following:

* Tests for equality and inequality with strings

* Tests using the lower() method
* Numerical tests involving equality and inequality, greater than and
less than, greater than or equal to, and less than or equal to
* Tests using the and keyword and the or keyword
* Test whether an item is in a list
* Test whether an item is not in a list

In [4]:
pizza = 'cheese'
pizza == 'chesse'

False

In [6]:
pizza = 'cheese'
pizza != 'cheese'

False

In [7]:
car = 'Audi'
car.lower() == 'audi'

True

In [9]:
car = 'Audi'
car.lower() == 'Audi'

False

In [10]:
age = 20 
age < 10

False

In [11]:
age = 20 
age > 50

False

In [12]:
age = 20 
age != 20

False